services:
  - type: web
    name: veterinario
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: db
          property: connectionString
      - key: JWT_SECRET
        generateValue: true
databases:
  - name: db
    databaseName: veterinariodb
    user: veterinario
